@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

@font-face {
    font-family: jetbrainsmono;
    src: url('fonts/JetBrainsMonoNerdFontPropo-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: jetbrainsmono, monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    --white-blue: hsl(232deg, 97%, 90%);
    --dark-lavender: hsl(232deg, 97%, 80%);
    --gray: hsl(226deg, 64%, 97%);
}

button {
    padding: 1em;
    border: none;
    background-color: var(--white-blue);
    border-radius: 1em;
}

#addBook {
    border-radius: 0em;
    font-size: 120%;
    padding: 0.7em;
}

button:hover {
    filter: brightness(0.9);
}

input {
    padding: 1em;
    border: none;
    border: 0.1em solid var(--white-blue);
    border-radius: 1em;
}

dialog {
    border: none;
    border-radius: 1em;
    justify-self: center;
    align-self: center;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
    text-align: center;
}

.read-checkbox-align {
    display: flex;
    justify-content: center;
    gap: 0.8em;
    align-items: center;
}

.header {
    font-size: 200%;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    background-color: var(--dark-lavender);
}

.main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
}

.card-container {
    display: grid;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(40ch,1fr));
}

.card {
    padding: 1em;
    border-radius: 1em;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 0.2em;
    text-align: center;
}

.footer {
    padding: 1em;
    text-align: center;
    background-color: var(--dark-lavender);
}